.ls{
    display: flex;
   gap :40px;
   background-color: gray;
   font-size: 1rem;
   font-weight: 800;
   color: white;
   height: 50px;
   align-items: center;
   padding-left:40px ;   
}
.ls div{
    cursor: pointer;
}
.mt3{
    margin-top: 10px;
   display: flex;
   gap:3px;
}

.label-m{
    width: 150px;
}
button{
    width: 100px;
    align-items: center;
}
.post{
    padding: 5%;
}